.DS_Store
.venv/
__pycache__/
*.pyc

firmware/tiny_touch_unified/.cache/
firmware/tiny_touch_unified/main/secrets.h
firmware/tiny_touch_unified/build/
firmware/tiny_touch_unified/build-recovery/
firmware/tiny_touch_unified/managed_components/
firmware/tiny_touch_unified/sdkconfig.old

build/distribution/
dist/
.venv-test/
